<h1>Editing utterance</h1>

<%= render "form", utterance: @utterance %>

<br>

<div>
  <%= link_to "Show this utterance", @utterance %> |
  <%= link_to "Back to utterances", utterances_path %>
</div>
