<p style="color: green"><%= notice %></p>

<h1>Utterances</h1>

<div id="utterances">
  <% @utterances.each do |utterance| %>
    <%= render utterance %>
    <p>
      <%= link_to "Show this utterance", utterance %>
    </p>
  <% end %>
</div>

<%= link_to "New utterance", new_utterance_path %>
